*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  body {
    background-color: blue;
    display: grid;
    grid-template:
      "nav main" 30px 
       "nav  main" 1fr 
      "nav  foot" 30px
      / 120px 1fr;
  }

  figure {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }

  .castle {
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  nav {
    height: 100vh;
    width: 30%;
  }

  header {
    grid-area: head;
  }
  nav { 
    grid-area: nav;
  }
  main { 
    grid-area: main;
    display: flex;
    flex-direction: column
  }
  footer {
    z-index: 2;
    grid-area: foot;
  }
  
  #canvas {
    height: 380px;
    margin-top: auto;
    z-index: 1;
  }
  
}
